/* element selectors */
body{
    background-color: #e6ffe6;
    font-family: 'Noto Sans', serif;
    margin: 0 5% 3rem 5%;
}

h1{
    font-size: 3rem;
    margin: 10px;
}

h2{
    font-size: 2rem;
    margin: 10px;
}

header{
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: #e6ffe6;
}

section{
    display: flex;
}

article{
    flex: 1;
}

footer{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border: 1px hidden;
    border-radius: 25px;
    background-image: linear-gradient(to right, #99ccff, #ffccff);
}

hr{
    margin: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: solid 4px #888888;
}

/* class / id selectors */
.hbox{
    flex: 1;
}

#logo{
    display: block;
    margin: 5px auto;
    height: 10em;
}

#sec1{
    margin-left: 0;
}

#sec3{
    margin-right: 0;
}

/* pseudo selectors / descendant / others */
section:nth-of-type(2) article{
    border: 2px hidden;
    border-radius: 30px;
    margin: 1rem;
    background-color: #ddff99;
}

section:nth-of-type(1) article{
    margin: 35px 0;
    background-image: url('../res/head1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    border: 2px hidden;
    border-radius: 20px;
}

#pitch p{
    margin: 20px;
}

#pitch h1{
    margin: 20px;
}

section:nth-of-type(2) article:hover{
    transform: scale(1.1);
    transition: transform 2s;
}

a:visited{
    color: #b5106e;
}

a:hover{
    color: #009933;
}

#logo:hover{
    transform: scale(1.2);
    transition: transform 2s;
}

nav ul{
    list-style: none; /* Removes bullet point */
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

nav li{
    display: inline-block;
    flex: 1;
}

nav a{
    text-decoration: none;
    text-align: center;
}

footer div{
    margin: 10px;
    flex: 1;
}

footer img{
    display: block;
}

article p{
    margin: 10px;
    text-align: justify;
}

article img{
    display: block;
    margin: 20px auto;
    width: 95%;
    height: 200px;
    object-fit: cover;
}